{
    "singleQuote": false,  
    "semi": true,  
    "trailingComma": "none"  ,
    "printWidth": 250,
    "tabWidth": 4,
    "endOfLine": "auto",
    "editor.formatOnSave": false,
    "[javascript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode",
        "editor.formatOnSave": true
    },
    "[typescript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode",
        "editor.formatOnSave": true
    }
}
