@charset "utf-8";

.u-common-list {
    @include size();
    display: flex;
    overflow: hidden;
    flex-direction: column;

    .diy-input {
        margin-bottom: 0.1rem;
    }

    .list {
        flex: 1;
        overflow-x: auto;
        list-style-type: none;

        .list-item {
            @include size(100%, 0.4rem);
            @include flex(row, space-between, center);
            position: relative;
            padding: 0 0.2rem;
            margin-bottom: 1px;
            line-height: 0.4rem;
            cursor: pointer;
            background-image: linear-gradient(to left, #eaf3ff 100%);
            background-repeat: no-repeat;
            background-repeat: no-repeat;
            background-size: 0% 100%;

            &::after {
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                width: 0;
                height: 100%;
                background-color: #38f;
                content: "";
            }

            .list-item-title {
                flex: 1;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .ivu-dropdown {
                cursor: pointer;
                opacity: 0;
            }

            &:hover {
                background-size: 100% 100%;
                transition: background-size 0.2s ease-in-out;

                .ivu-dropdown {
                    opacity: 1;
                }
            }
        }

        .list-item-selected {
            // background-color: #eaf3ff;
            background-size: 100% 100%;

            &::after {
                width: 4px;
                transition: width 0.2s ease-in-out;
            }
        }
    }
}
