<!-- TODO: 菜单抽出到组件库 -->
<nav class="u-menu" :class="{'collapsed': collapsed}">
    <div class="menu-collaps-btn">
        <span class="iconfont icon-menu" @click="onToggleClick"></span>
    </div>
    <section class="menu-section">
        <overlay-scrollbars :options="options">
            <template v-for="(menu, index) in menus">
                <!-- 含有二级菜单 -->
                <div v-if="menu.children" class="menu-group" :class="{'opened': menu.open}">
                    <!-- 展开的菜单 -->
                    <template v-if="!collapsed">
                        <div class="menu-group-title router-link" @click="menu.open = !menu.open">
                            <span class="iconfont" :class="menu.icon"></span>
                            <span class="menu-group-title-name">{{menu.name}}</span>
                            <i-icon type="md-arrow-dropdown" />
                        </div>
                        <div
                            class="menu-item-container"
                            :style="menu.open ? 'height: calc(' + 0.6 * menu.children.length + 'rem' + ' + ' + 1*menu.children.length + 'px);' : 'height:0rem'"
                        >
                            <template v-for="c in menu.children">
                                <div class="menu-item">
                                    <router-link :to="{name: c.routeName}" class="router-link" tag="div">
                                        <!-- <span class="iconfont" :class="c.icon"></span> -->
                                        <span class="iconfont circle"></span>
                                        <span>{{c.name}}</span>
                                    </router-link>
                                </div>
                            </template>
                        </div>
                    </template>
                    <!-- 收缩后的菜单 -->
                    <template v-else>
                        <i-dropdown placement="right-start" transfer transfer-class-name="ivu-dropdown-menu-diy" trigger="hover">
                            <span class="iconfont router-link" :class="menu.icon" :title="menu.name"  v-if="menu.icon && collapsed" ></span>
                            <div class="router-link menu-item" v-if="!menu.icon && collapsed" >
                                <span>{{menu.name && menu.name.length && menu.name[0]}}</span>
                            </div>
                            <i-dropdown-menu slot="list">
                                <template v-for="c in menu.children">
                                    <i-dropdown-item>
                                        <router-link :to="{name: c.routeName}" class="router-link" tag="div">
                                            <!-- <i-icon v-if="c.icon" :type="c.icon" :title="collapsed ? c.name:''" /> -->
                                            {{c.name}}
                                        </router-link>
                                    </i-dropdown-item>
                                </template>
                            </i-dropdown-menu>
                        </i-dropdown>
                    </template>
                </div>
                <!-- 仅含一级菜单 -->
                <div v-else class="menu-item">
                    <router-link :to="{name: menu.routeName}" class="router-link" tag="div">
                        <span class="iconfont" :class="menu.icon" :title="collapsed ? menu.name:''"></span>
                        <!-- <i-icon v-if="menu.icon" :type="menu.icon" :title="collapsed ? menu.name:''"/> -->
                        <span v-if="!collapsed">{{menu.name}}</span>
                        <span v-if="!menu.icon && collapsed">{{menu.name && menu.name.length && menu.name[0]}}</span>
                    </router-link>
                </div>
            </template>
        </overlay-scrollbars>
    </section>
</nav>
